/*ALL*/
@import:url('"https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet"');

.main {
    width: 80%;
    margin: 5% 10% 5% 10%;
}

#logo {
    margin-top: 3em;
    width: 4%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 2em;
    font-family: 'Noto Sans', sans-serif;
    color: #313638;
}

li {
    overflow: hidden;
    display: inline-block;
}

nav {
    text-align: center;
    margin-top: 2em;
}

nav li {
    font-family: 'Calibri', sans-serif;
    padding-right: 1.2em;
    font-size: 1.5em;
}

nav a:link,
nav a:visited {
    font-weight: 600;
    text-decoration: none;
    color: #d9d9d9;
}

nav a:hover,
nav a:active {
    text-decoration: underline;
}

footer {
    text-align: center;
    margin-top: 3em;
}

footer li {
    padding-right: 1.5em;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2em;
    color: #313639;
}

footer p {
    font-family: 'Ubuntu', sans-serif;
    color: #000000;
    font-size: 0.8em;
}

footer a:link,
footer a:visited {
    font-weight: 600;
    text-decoration: none;
    color: #313639;
}

hr {
   border: 0.5px solid #d9d9d9;
    
}

/*Home Page*/
#gmo-img {
    width: 80%;
    height: auto;
}

h2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2em;
    color: #8b8687;
}

article {
    font-family: 'Calibri', sans-serif;
    line-height: 1.5;
}

img.cover {
    width: 50%;
    height: auto;
}

/*Portfolio Page*/
h5.card-title {
    font-size: 1.5em;
    font-weight: 600;
    color: #d9d9d9;
}

.cd2 {
    margin-top: 2em;
}

#portfolioh1 {
    margin-top: 1em;
    margin-bottom: 1.5em;
}