<link rel="stylesheet" href="../css/main.css">

<h1 id="homeh1">Home</h1>

<h2>The Value of Money</h2>
<img class="cover" src="./img/money-cover.jpg" alt="Money">
<article>
    <p>Most economists are in agreement that the inflation in the United States during the past three years has been the worst since the early 1940′s, taking account of both severity and duration. But they cannot agree on the nature of the inflation that is engulfing the American economy. To some, inflation denotes a spectacular rise in consumer prices; to others, an excessive aggregate demand; and to at least one economist, it is the creation of new money by our monetary authorities.</p>

    <p>This disagreement among economists is more than an academic difference on the meaning of a popular term. It reflects professional confusion as to the cause of the inflation problem and the policies that might help to correct it. A review of some basic principles of economics that are applicable to money may shed light on the problem.</p>

    <p>Two basic questions need to be answered: (1) What are the factors that originally afforded value to money, and (2) What are the factors that effect changes in the “objective exchange value of money” or its purchasing power?</p>

    <p>Money is a medium of exchange that facilitates trade in goods and services. Wherever people progressed beyond simple barter, they began to use their most marketable goods as media of exchange. In primitive societies they used cattle, or measures of grain, salt, or fish. In early civilizations where the division of labor extended to larger areas, gold or silver emerged as the most marketable good and finally as the only medium of exchange, called money. It is obvious that the chieftains, kings, and heads of state did not invent the use of money. But they frequently usurped control over it whenever they suffered budget deficits and could gain revenue from currency debasement.</p>
</article>

<hr>

<h2>GMO Food</h2>
<img class="cover" src="./img/gmo-cover.jpg" alt="GMO">
<article>
    <p>A GMO, or genetically modified organism, is a plant, animal, microorganism or other organism whose genetic makeup has been modified in a laboratory using genetic engineering or transgenic technology. This creates combinations of plant, animal, bacterial and virus genes that do not occur in nature or through traditional crossbreeding methods.</p>

    <p>Genetic modification affects many of the products we consume on a daily basis. As the number of GMOs available for commercial use grows every year, the Non-GMO Project works diligently to provide the most accurate, up-to-date standards for non-GMO verification.</p>

    <p>In order for a product to be Non-GMO Project Verified, its inputs must be evaluated for compliance with our standard, which categorizes inputs into three risk levels:</p>

    <img id="gmo-img" src="./img/gmo-risk-Level.png" alt="GMO Risk Level">
</article>

<hr>

<h2>The View of World in 2100</h2>
<img class="cover" src="./img/future-cover.jpg" alt="Future">
<article>
    <p>Think the world is crowded now? You haven’t seen anything yet. The world is expected to add another billion people within the next 15 years, bringing the total global population from 7.3 billion in mid-2015 to 8.5 billion in 2030, 9.7 billion in 2050, and 11.2 billion by 2100, according to new estimates from the UN.</p>

    <p>Currently, 60 percent of the global population lives in Asia, 16 percent in Africa, 10 percent in Europe, 9 percent in Latin America and the Caribbean, and only 5 percent in North America and Oceania. China and India are the largest countries in the world, together making up almost 40 percent of the world population.</p>

    <p>Five major changes:The world population would reach 4 billion by 2100. Population growth is mostly coming from one continent -- Africa. Nigeria will soon become the world's third most populous country. India will surpass China -- soon. Europe is getting really old.</p>
</article>